<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCTV Accident Inference API</title>
</head>
<body>
<h1>CCTV Accident Inference API</h1>
<p>There are over 52 CCTV. Visit the appropriate inference API endpoint for each CCTV by adding the /prediction suffix
    to the last
    identifier path in the CCTV URL provided in <a
            href="https://diskominfo.samarindakota.go.id/api/kategori/cctv/jalan-umum">this
        link</a>.</p>
<p>For example, the CCTV URL for Simpang Antasari Siradj Salman is <a
        href="https://diskominfo.samarindakota.go.id/api/cctv/simpang-antasari-siradj-salman">https://diskominfo.samarindakota.go.id/api/cctv/<b>simpang-antasari-siradj-salman</b></a>.
<p>To access the inference API, go to `localhost/prediction/simpang-antasari-siradj-salman`</p>
</body>
</html>